{% extends "app/base_site.html" %}

{% block title %} Profile {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/profiles.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="head-title"><i class="fa fa-lock"></i><small> Change Password</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">My Profile</a>
                        | <a href="#">Reset Password</a>
                        | <a href="#">Log Out</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation" class="active"><a href="{% url 'changing-password' %}"><i
                                        class="fa fa-lock"></i> Change Password</a>
                                </li>
                            </ul>
                            <br/>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-8">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab_profile">
                                            <div class="x_content">

                                                <form class="form-horizontal form-label-left"
                                                      role="form"
                                                      action=""
                                                      method="post"
                                                      enctype="multipart/form-data"
                                                      accept-charset="utf-8">{% csrf_token %}

                                                    {% load static i18n widget_tweaks %}

                                                        {% for field in form %}
                                                            <div class="form-group">
                                                                <div class="col-sm-offset-4 col-sm-8 "  role="alert">
                                                                    <span class="text-danger small">{{ field.errors }}</span>
                                                                </div>
                                                                <label class="control-label col-sm-4">{{ field.label_tag }}</label>
                                                                <div class="col-sm-8">{% render_field field class="form-control is-valid" %}</div>
                                                            </div>
                                                        {% endfor %}

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-4 col-sm-8">
                                                            <a href="{% url 'profile' %}"
                                                               class="btn btn-outline-secondary"
                                                               type="button">Cancel</a>
                                                            <button type="submit" class="btn btn-success">Submit
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#profile-table').DataTable({
                    dom: 'Bfrtip',
                    iDisplayLength: 15,
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength'
                    ],
                    search: true,
                    responsive: true
                });
            });

        </script>
    </div>

{% endblock content %}


